In [10]:
import numpy as np
import pandas as pd

## Create DataFrame

In [11]:
dates = pd.date_range(start='1/15/2018', end='1/20/2018')
dates

DatetimeIndex(['2018-01-15', '2018-01-16', '2018-01-17', '2018-01-18',
               '2018-01-19', '2018-01-20'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2018-01-15 -1.789462  0.443659  1.967998  1.123774
2018-01-16  0.574325  0.937311  0.779259  1.331050
2018-01-17 -0.290803  0.702300  0.139990  1.285626
2018-01-18 -1.700929 -0.076160 -0.865286  0.287714
2018-01-19 -1.013225  0.394309  0.189200  0.294861
2018-01-20 -0.994313  1.269359  0.221089 -0.611700

## Viewing Data

To view the top and bottom rows of the frame:

In [36]:
df.head(3)

                   A         B         C         D
2018-01-15 -1.789462  0.443659  1.967998  1.123774
2018-01-16  0.574325  0.937311  0.779259  1.331050
2018-01-17 -0.290803  0.702300  0.139990  1.285626

In [18]:
df.tail(3)

                   A         B         C         D
2018-01-18 -1.700929 -0.076160 -0.865286  0.287714
2018-01-19 -1.013225  0.394309  0.189200  0.294861
2018-01-20 -0.994313  1.269359  0.221089 -0.611700

**Display the index, columns:**

In [20]:
df.index, df.columns

(DatetimeIndex(['2018-01-15', '2018-01-16', '2018-01-17', '2018-01-18',
                '2018-01-19', '2018-01-20'],
               dtype='datetime64[ns]', freq='D'),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

**Quick statistic summary of your data:**

In [33]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.869068  0.611796  0.405375  0.618554
std    0.893684  0.468059  0.932446  0.766243
min   -1.789462 -0.076160 -0.865286 -0.611700
25%   -1.529003  0.406646  0.152293  0.289501
50%   -1.003769  0.572980  0.205144  0.709318
75%   -0.466681  0.878558  0.639716  1.245163
max    0.574325  1.269359  1.967998  1.331050

**Transposing your data:**

In [22]:
df.T

   2018-01-15  2018-01-16  2018-01-17  2018-01-18  2018-01-19  2018-01-20
A   -1.789462    0.574325   -0.290803   -1.700929   -1.013225   -0.994313
B    0.443659    0.937311    0.702300   -0.076160    0.394309    1.269359
C    1.967998    0.779259    0.139990   -0.865286    0.189200    0.221089
D    1.123774    1.331050    1.285626    0.287714    0.294861   -0.611700

**Concise summary of a DataFrame**

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2018-01-15 to 2018-01-20
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes