In [44]:
import numpy as np
import pandas as pd

In [45]:
dates = pd.date_range(start='1/15/2018', end='1/20/2018')
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2018-01-15 -0.136389 -0.272244 -0.837830 -0.328247
2018-01-16 -0.348881 -1.457758  0.554775  1.577474
2018-01-17 -1.575535 -1.395994  0.238157  1.316213
2018-01-18 -0.863190  2.070660  0.760580 -1.008046
2018-01-19  0.097315  1.963950 -2.077414  0.716214
2018-01-20  1.833879  0.024795 -1.114221  0.829930

## Selection by Label - DataFrame.loc[]

Access a group of rows and columns by label(s) or a boolean array.

In [46]:
df.loc["2018-01-20"]

A    1.833879
B    0.024795
C   -1.114221
D    0.829930
Name: 2018-01-20 00:00:00, dtype: float64

In [57]:
df.loc[dates[5]]

A    1.833879
B    0.024795
C   -1.114221
D    0.829930
Name: 2018-01-20 00:00:00, dtype: float64

In [48]:
df.loc["2018-01-20", ["A", "B"]]

A    1.833879
B    0.024795
Name: 2018-01-20 00:00:00, dtype: float64

In [62]:
df.loc[["2018-01-16","2018-01-20"], ["A", "B"]]

                   A         B
2018-01-16 -0.348881 -1.457758
2018-01-20  1.833879  0.024795

In [61]:
df.loc[dates[1]:dates[4], "A" : "C"]

                   A         B         C
2018-01-16 -0.348881 -1.457758  0.554775
2018-01-17 -1.575535 -1.395994  0.238157
2018-01-18 -0.863190  2.070660  0.760580
2018-01-19  0.097315  1.963950 -2.077414

In [50]:
df.loc[dates[0], "A"]

-0.13638892993815327

In [51]:
df['A'].loc[dates[0]]

-0.13638892993815327

## Selection by position - DataFrame.iloc[]
Select via the position of the passed integers

In [52]:
df

                   A         B         C         D
2018-01-15 -0.136389 -0.272244 -0.837830 -0.328247
2018-01-16 -0.348881 -1.457758  0.554775  1.577474
2018-01-17 -1.575535 -1.395994  0.238157  1.316213
2018-01-18 -0.863190  2.070660  0.760580 -1.008046
2018-01-19  0.097315  1.963950 -2.077414  0.716214
2018-01-20  1.833879  0.024795 -1.114221  0.829930

In [53]:
df.iloc[3]

A   -0.863190
B    2.070660
C    0.760580
D   -1.008046
Name: 2018-01-18 00:00:00, dtype: float64

In [54]:
df.iloc[3:5, 0:2]

                   A        B
2018-01-18 -0.863190  2.07066
2018-01-19  0.097315  1.96395

In [55]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2018-01-16 -0.348881  0.554775
2018-01-17 -1.575535  0.238157
2018-01-19  0.097315 -2.077414

In [56]:
df['D'].iloc[0]

-0.3282473448074923